<configuration scan="false" debug="true">

    <jmxConfigurator />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/logback.log</file>
        <encoder>
            <pattern>%logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
